<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<title>Score</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
        integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
        crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="blocks/header :: header"/>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">The score</h1>
        <p class="lead" th:text="${'Score '+score.getScore()+'/'+length}"/>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <br>
    <div>
        <h2 th:text="${score.getQuiz().getName()}"></h2>
        <h6 class=" badge badge-dark">#<span th:text="${score.getQuiz().getTag()}"></span></h6>
        <p><strong>Description: </strong><span th:text="${score.getQuiz().getTag()}"></span></p>
    </div>

    <div class="bg-light col-8 m-3" th:each="result : ${results}">
        <div class="m-2"><strong>Question: </strong>
            <span th:text="${result.getQuestion().getText()}"></span>
            <span th:text="${'The correct answer is:'+result.getQuestion().getOptions().get(result.getQuestion().answerNumber)}"/>
        </div>
        <div class="radio" th:each="option,i: ${result.getQuestion().getOptions().entrySet()}">
            <div class="row">
                <div th:if="${result.getAnswer().equals(option.getKey())}">
                    <input type="radio" disabled checked th:value="${option.getKey()}"
                           th:text="${option.getValue()}">

                    <svg th:if="${result.isTrue()}" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg>
                    <svg th:if="${!result.isTrue()}" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         class="bi bi-x-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>


                <div th:if="${!result.getAnswer().equals(option.getKey())}">
                    <input disabled type="radio" th:value="${option.getKey()}"
                           th:text="${option.getValue()}">
                </div>
            </div>

        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"/>
</body>
</html>